.blur-wrapper {
  overflow: hidden;
}

.blur-logo-bg {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(150px);
}

.blur-logo-bg img {
  height: calc(90vh);
  width: auto;
}
